<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <div class="container">
        {{>header}}

        <p>Use this site to get your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <div class="display">
            <p id="msgOne"></p>
            <p id="msgTwo"></p>
        </div>

    </div>
    
    {{>footer}}


<script src="/js/app.js"></script>

</body>



</html>